<div class="container">
  <div *ngIf="contact">
    <h3>Contact</h3>
    <h2>{{contact.name}}</h2>
    <div>
      <label>
        Id:
        <input type="text" class="form-control" [(ngModel)]="contact.id" disabled>
      </label>
    </div>
    <div>
        <label>
          Name:
          <input type="text" class="form-control" [(ngModel)]="contact.name" placeholder="Name"/>
        </label>
      </div>
    <app-phone-list></app-phone-list>
    <button class="btn btn-outline-info" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>&nbsp;
    <button class="btn btn-success" (click)="edit()"><i class="fa fa-save"></i></button>
  </div>
</div>
