<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Bem vindo!</h1>
    <p>Somos um empresa comprometida em resolver a solução de seus problemas!</p>
    <br>
    <br>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Sobre nós &raquo;</a></p>
  </div>
</div>

<div class="container">

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-8">
      <p>Há
        24 anos no mercado de Auto Peças, tudo
        com procedência legal. Trabalhamos com Nacionais,
        Importados, Gasolina, Alcool, Diesel, Novos, Usados.
        Compramos veículos acidentados no estado
        de sucata e recuperáveis. Temos mecânica
        em geral.</p>
    </div>
    <div class="col-4">
      <img class="img-fluid img-thumbnail" src="../../../assets/img/foto-ref-001.jpg" alt="">
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-4">
      <img class="img-fluid img-thumbnail" src="../../../assets/img/foto-ref-003.jpg" alt="">
    </div>
    <div class="col-8">
      <p>Se
        voce precisar de turbinas, válvulas injetoras,
        cruzetas, cardans, direção hidraulica,
        escapamentos, radiadores, condensadores, suspenções,
        paineis, velocímetros, rodas, amortecedores,
        vidros, bobinas, atuadores, fluxos de ar, Venha
        para Joa's Car.</p>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-8">
      <p>Possuimos
        vasta linha de produtos das mais diuversas marcas.
        Tudo com a melhor qualidade, segurança
        e garantia pra você.</p>
    </div>
    <div class="col-4">
      <img class="img-fluid img-thumbnail" src="../../../assets/img/foto-ref-002.jpg" alt="">
    </div>
  </div>
</div>
