<div class="container">
  <h1>Phone</h1>
  <form *ngIf="phone">
    <div>
      <label>Number:</label>
      <input type="text" name="number" [(ngModel)]="phone.number" ap-autofocus class="form-control">
    </div>

    <div>
      <label>Type:</label>
      <select class="form-control" [(ngModel)]="phone.type" name="type">
        <option *ngFor="let item of keys()" [ngValue]="item">{{item}}</option>
     </select>
    </div>

    <hr>

    <button class="btn btn-success mr-1" (click)="edit()"><i class="fa fa-save"></i></button>
    <button class="btn btn-outline-info" (click)="goBack()"><i class="fa fa-table"></i></button>

  </form>
</div>
