<div class="container">
  <h1>Register</h1>
  <form>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="userName"
                 name="userName" placeholder="Username" ap-autofocus />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" />
        </div>
      </div>
    </div>
    <button class="btn btn-success mr-1" (click)="save()"><i class="fa fa-save"></i></button>
    <button class="btn btn-outline-info" (click)="goBack()"><i class="fa fa-table"></i></button>
  </form>
</div>
